.commont {
  padding: 0;
  background: #fafafa;
}

.bjffff {
  background: #ffff;
}

.Cont_L {
  width: 825px;
  margin-right: 35px;
}

.Cont_R {
  width: 340px;
}

.noziyuan {
  padding: 60px 0;
}

.noziyuan p {
  height: 40px;
  line-height: 40px;
  color: #a0a0a0;
  text-align: center;
}

.noziyuan p .icono {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 10px 0 0;
  height: 20px;
  width: 28px;
  background-position: -293px -71px;
}

.morebott {
  margin: 30px auto;
  border: 1px solid #c7c5c5ee;
  height: 44px;
  line-height: 44px;
  border-radius: 5px;
  display: block;
  width: 300px;
  text-align: center;
  color: #515151 !important;
}

.morebott:hover {
  background: #fe7830;
  color: #fff !important;
  border-color: #fe7830;
  text-decoration: none !important;
}

.MinR1 {
  width: 100%;
  overflow: hidden;
}

.MinR1 .ul1 {
  padding: 10px 0 0;
}

.MinR1 .ul1 li {
  padding: 0px 0 5px;
}

.MinR1 .ul1 li .name {
  color: #0172ce;
  font-size: 14px;
  display: block;
  max-height: 60px;
  line-height: 30px;
}

.MinR1 .ul1 li .name::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: -2px 5px 0 0;
  width: 2px;
  height: 2px;
  background: #515151;
  border-radius: 50%;
}

.MinR1 .ul1 li .name:hover {
  text-decoration: underline;
}

.MinR1 .ul1 li .time {
  font-size: 12px;
  color: #515151;
  text-align: right;
  height: 20px;
  line-height: 20px;
  margin-top: -5px;
}

.MinR1 .ul1.ul_ li a {
  color: #2a2a2a;
}

.MinR1 .ul1.ul_ li a:hover {
  color: #0172ce;
}

.MinR1 .ul2 {
  padding: 10px 0;
}

.MinR1 .ul2 li {
  height: 65px;
  padding: 15px 0;
}

.MinR1 .ul2 li .img {
  height: 65px;
  width: 65px;
  display: block;
  float: left;
}

.MinR1 .ul2 li .infor {
  width: 255px;
  float: left;
  padding-left: 15px;
}

.MinR1 .ul2 li .infor .name {
  height: 34px;
  line-height: 34px;
  font-size: 15px;
  width: 100%;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MinR1 .ul2 li .infor .name:hover {
  text-decoration: underline;
}

.MinR1 .ul2 li .infor .bq {
  height: 20px;
  line-height: 20px;
  width: 100%;
  overflow: hidden;
  padding-top: 6px;
}

.MinR1 .ul2 li .infor .bq .lab {
  float: left;
  background: #fff1ea;
  padding: 0 15px;
  overflow: hidden;
  color: #e49a72;
  margin-right: 10px;
  font-size: 12px;
  border-radius: 10px;
}

.MinR1 .tuijian {
  padding: 20px 0 10px;
}

.MinR1 .tuijian .img {
  width: 100%;
  height: auto;
  display: block;
}

.school_hometop {
  border-bottom: 1px solid #f1f1f1;
  background: #fff;
  min-height: 250px;
  padding-top: 30px;
}

.school_hometop .schoolname {
  padding-right: 300px;
  position: relative;
}

.school_hometop .schoolname .schoolimg {
  height: 95px;
  width: 95px;
  float: left;
  padding: 27px 10px 10px;
}

.school_hometop .schoolname .schoolimg .img {
  width: 100%;
  height: 100%;
}

.school_hometop .schoolname .infor {
  float: left;
  width: 740px;
  padding-left: 30px;
  position: relative;
}

.school_hometop .schoolname .infor .ptop {
  line-height: 35px;
  width: 100%;
  position: relative;
  height: 62px;
}

.school_hometop .schoolname .infor .ptop .h1 {
  display: inline-block;
  vertical-align: middle;
  max-width: 240px;
  overflow: hidden;
  font-size: 24px;
  font-weight: normal;
  padding-top: 27px;
  height: 35px;
}

.school_hometop .schoolname .infor .ptop .tis {
  display: inline-block;
  vertical-align: middle;
  color: #515151;
  font-size: 14px;
  padding-top: 27px;
  position: relative;
  max-width: 200px;
  overflow: hidden;
  height: 35px;
}

.school_hometop .schoolname .infor .ptop .lab {
  position: absolute;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  color: #c24300;
  background: #fce1bd;
  padding: 0 5px;
  border-radius: 3px;
  top: 3px;
  left: 10px;
}

.school_hometop .schoolname .infor .ptop .lab::after {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  bottom: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fce1bd;
}

.school_hometop .schoolname .infor .ptop .layui-form {
  display: inline-block;
  vertical-align: middle;
  padding-top: 27px;
  height: 35px;
  margin: 0 10px;
}

.school_hometop .schoolname .infor .ptop .layui-form .layui-form-item .layui-input-inline {
  width: 150px;
}

.school_hometop .schoolname .infor .ptop .Colle {
  display: inline-block;
  vertical-align: middle;
  padding-top: 27px;
  height: 35px;
  line-height: 35px;
  color: #7a7a7a;
  cursor: pointer;
}

.school_hometop .schoolname .infor .ptop .Colle .icoColle {
  height: 18px;
  width: 22px;
  background-position: -371px 0;
  display: inline-block;
  vertical-align: middle;
  margin: -1px 8px 0 0;
}

.school_hometop .schoolname .infor .ptop .Colle.on .icoColle {
  background-position: -339px 0;
}

.school_hometop .schoolname .infor .dizhi {
  padding-top: 5px;
}

.school_hometop .schoolname .infor .dizhi .p {
  height: 30px;
  line-height: 30px;
  color: #515151;
  width: 100%;
  overflow: hidden;
}

.school_hometop .schoolname .infor .dizhi .p span {
  color: #0172ce;
  padding: 0 5px;
}

.school_hometop .schoolname .infor .lablis {
  height: 20px;
  line-height: 20px;
  width: 100%;
  overflow: hidden;
  padding-top: 10px;
}

.school_hometop .schoolname .infor .lablis .lab_ {
  float: left;
  background: #fff1ea;
  padding: 0 15px;
  overflow: hidden;
  color: #e49a72;
  margin-right: 10px;
  border-radius: 10px;
}

.school_hometop .schoolname .infor .lis {
  width: 100%;
  height: 80px;
  line-height: 40px;
  color: #515151;
  padding-top: 10px;
}

.school_hometop .schoolname .infor .lis p {
  float: left;
  width: 250px;
  margin-right: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 40px;
}

.school_hometop .schoolname .infor .lis p i {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 5px 0;
}

.school_hometop .schoolname .infor .lis p .ico1 {
  height: 16px;
  width: 18px;
  background-position: -273px -33px;
}

.school_hometop .schoolname .infor .lis p .ico2 {
  height: 19px;
  width: 14px;
  background-position: -219px -31px;
}

.school_hometop .schoolname .infor .lis p .ico3 {
  height: 15px;
  width: 19px;
  background-position: -303px -33px;
}

.school_hometop .schoolname .infor .lis p .ico4 {
  height: 17px;
  width: 17px;
  background-position: -241px -33px;
}

.school_hometop .schoolname .infor .lis p .ico5 {
  height: 18px;
  width: 20px;
  background-position: -332px -31px;
}

.school_hometop .schoolname .infor .lis .p2 {
  width: 400px;
}

.school_hometop .schoolname .saolimg {
  position: absolute;
  right: 20px;
  top: 30px;
  width: 263px;
}

.school_hometop .schoolname .saolimg .line1 {
  background: url("../images/saoimli1.png") no-repeat center;
  position: relative;
  width: 263px;
  height: 14px;
}

.school_hometop .schoolname .saolimg .line2 {
  background: url("../images/saoimli1.png") no-repeat center;
  position: absolute;
  width: 263px;
  height: 14px;
  top: 0px;
  left: 0;
  z-index: 2;
}

.school_hometop .schoolname .saolimg .img {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  margin-top: -11px;
  position: relative;
  z-index: 1;
}

.school_hometop .schoolname .saolimg .font {
  height: 50px;
  line-height: 25px;
  text-align: center;
  color: #515151;
}

.schoolnav {
  height: 84px;
  background: #fff;
  -webkit-box-shadow: 0px 20px 20px rgba(254, 120, 48, 0.1);
          box-shadow: 0px 20px 20px rgba(254, 120, 48, 0.1);
  line-height: 84px;
  margin-bottom: 20px;
}

.schoolnav li {
  float: left;
  padding: 0 15px;
  min-width: 100px;
  text-align: center;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

.schoolnav li a {
  color: #000;
  display: block;
  width: 100%;
  height: 100%;
}

.schoolnav li:hover {
  background: #fff8f4;
}

.schoolnav .on {
  background: #fff8f4;
  color: #fe7830;
  font-weight: bold;
}

.schoolnav .on a {
  color: #fe7830;
}

.schoollab {
  width: 100%;
  padding: 20px 0;
  height: 200px;
}

.schoollab .img {
  float: left;
  height: 200px;
  width: 400px;
}

.schoollab .infor {
  width: 775px;
  float: left;
  padding-left: 25px;
  overflow: hidden;
}

.schoollab .infor p {
  line-height: 32px;
  color: #515151;
  font-size: 16px;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-break: break-all;
  height: 165px;
  width: 100%;
  overflow: hidden;
}

.schoollab .infor .more {
  color: #fe7830;
  font-size: 15px;
  text-decoration: underline;
  padding-top: 15px;
}

.switchboxck .schoolitem {
  width: 100%;
}

.schoolitem {
  color: #515151;
  line-height: 38px;
  width: 690px;
  margin-bottom: 20px;
}

.schoolitem .title .lab_a {
  float: right;
  height: 100%;
}

.schoolitem .title .lab_a a {
  color: #6a6a6a;
  font-size: 14px;
  display: block;
  float: left;
  margin: 0 8px;
  padding: 0 5px;
  position: relative;
  line-height: 40px;
  padding-top: 20px;
  text-decoration: none;
}

.schoolitem .title .lab_a a::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #fbe0d2;
}

.schoolitem .title .lab_a a:hover::after {
  background: #fe7830;
}

.schoolitem .title .lab_a .on::after {
  background: #fe7830;
}

.schoolitem a {
  color: #fe7830;
}

.schoolitem a:hover {
  text-decoration: underline;
}

.schoolitem ul {
  padding: 10px 0;
}

.schoolitem ul li::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: -2px 8px 0 0;
  width: 2px;
  height: 2px;
  background: #515151;
  border-radius: 50%;
}

.schoolitem ul li .a {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 10px 0 0;
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #515151;
}

.schoolitem ul li .a:hover {
  color: #fe7830;
}

.schoolitem ul li span {
  color: #0172ce;
  font-size: 13px;
}

.schoolitem .text {
  padding: 10px 0;
}

.schoolitem .text a {
  color: #fe7830;
}

.schoolitem .text .lab {
  display: inline-block;
  vertical-align: middle;
  background: #faeae1;
  padding: 0 15px;
  overflow: hidden;
  color: #e49b73;
  margin-right: 10px;
  border-radius: 20px;
  height: 26px;
  line-height: 26px;
}

.schoolitem .text2 {
  padding: 15px 0 0;
  line-height: 30px;
  font-size: 14px;
}

.schoolitem .text2 a {
  color: #fe7830;
}

.schoolitem .text2 p {
  padding-bottom: 10px;
}

.schoolitem .lis {
  padding: 15px 0 10px 0;
}

.schoolitem .lis .namebt {
  height: 40px;
  line-height: 40px;
  width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  color: #000;
}

.schoolitem .lis .namebt:hover {
  color: #fe7830;
}

.schoolitem .lis .inforce {
  height: 100px;
  padding: 10px 0 0 0;
}

.schoolitem .lis .inforce .img {
  float: left;
  width: 200px;
  height: 100px;
}

.schoolitem .lis .inforce .img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.schoolitem .lis .inforce .infor {
  float: left;
  width: 470px;
  height: 100%;
  overflow: hidden;
  padding-left: 15px;
}

.schoolitem .lis .tex {
  line-height: 30px;
  font-size: 14px;
  text-align: justify;
  width: 100%;
  max-height: 70px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.schoolitem .lis .bq {
  width: 100%;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
}

.schoolitem .lis .bq .time {
  float: left;
  font-size: 12px;
  color: #9a9a9a;
}

.schoolitem .lis .bq .lab_bt {
  float: right;
}

.schoolitem .lis .bq .lab_bt .lab_ {
  float: left;
  display: block;
  margin-left: 20px;
  color: #515155;
  font-size: 12px;
}

.schoolitem .lis .bq .lab_bt .lab_ i {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 5px 0;
}

.schoolitem .lis .bq .lab_bt .lab_ .icoshar {
  height: 19px;
  width: 19px;
  background-position: -280px 0;
}

.schoolitem .lis .bq .lab_bt .lab_ .icopl {
  height: 18px;
  width: 18px;
  background-position: -219px 0;
}

.schoolitem .lis .bq .lab_bt .lab_:hover {
  color: #fe7830;
}

.schoolitem .lis .bq .lab_bt .lab_:hover .icoshar {
  background-position: -309px 0;
}

.schoolitem .lis .bq .lab_bt .lab_:hover .icopl {
  background-position: -249px 0;
}

.schoolitem .p1 {
  padding-bottom: 10px;
}

.schoolitem .labul {
  padding: 10px 0;
}

.schoolitem .labul a {
  color: #0172ce;
}

.schoolitem .labul a:hover {
  color: #fe7830;
  text-decoration: underline;
}

.schoolitem .labul .li {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.schoolitem .labul .li .lab {
  width: 50px;
  height: 23px;
  line-height: 23px;
  border-radius: 3px;
  color: #fff;
  background: #ffae01;
  display: inline-block;
  vertical-align: middle;
  margin: -2px 10px 0 0;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.schoolitem .labul ul li::before {
  background: #b1b1b1;
  width: 5px;
  height: 5px;
}

.schoolitem table {
  max-width: 100%;
  text-align: center;
  line-height: 46px;
  font-size: 14px;
  margin: 10px auto;
}

.schoolitem table th {
  background: #f8f8f9;
}

.schoolitem table tr:hover {
  background: #ebf7ff;
}

.schoolitem .item .lis {
  border-bottom: 1px solid #e9e9e9;
}

.schoolitem .item .lis .infor {
  width: 610px;
}

.schoolboot {
  background: #ffffff;
  padding: 10px 0;
}

.schoolboot ul {
  width: 100%;
}

.schoolboot ul li {
  width: 16.66666%;
  float: left;
  text-align: center;
}

.schoolboot ul li .bt {
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  font-size: 15px;
}

.schoolboot ul li .a {
  color: #666666;
  display: block;
  font-size: 12px;
  line-height: 30px;
  height: 30px;
  margin: 5px;
  overflow: hidden;
}

.schoolboot ul li .a:hover {
  color: #fe7830;
}

.schoolflex {
  background: #fafafa;
  border: 1px solid #e5e5e5;
  width: 78px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 1;
}

.schoolflex ul {
  padding: 10px 0;
}

.schoolflex li {
  height: 40px;
  line-height: 40px;
  width: 100%;
  text-align: center;
  color: #6a6a6a;
  font-size: 12px;
  cursor: pointer;
}

.schoolflex li:hover {
  background: #faede5;
}

.schoolflex .on {
  background: #fe8544;
  color: #fff;
}

.schoolflex .on:hover {
  background: #fe8544;
  color: #fff;
}

.schoolflex .top {
  padding: 0 0 10px 0;
  cursor: pointer;
}

.schoolflex .top i {
  margin: 0 auto;
  display: block;
  height: 18px;
  width: 22px;
  background-position: -176px -72px;
}

.Feedbackfixed {
  position: fixed;
  width: 48px;
  height: 96px;
  text-align: center;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  top: 75%;
  margin-top: -50px;
  background: #fafafa;
  right: 20px;
}

.Feedbackfixed .back {
  padding: 8px 10px;
  line-height: 18px;
  height: 36px;
  color: #333333;
  background: #e6e6e6;
  width: 30px;
  margin: -1px 0 0 -1px;
  display: block;
  font-size: 12px;
}

.Feedbackfixed .back:hover {
  background: #555555;
  color: #fff;
}

.Feedbackfixed .top {
  width: 100%;
  position: relative;
  cursor: pointer;
  padding: 12px 0;
}

.Feedbackfixed .top:hover .i {
  background-position: -255px -71px;
}

.Feedbackfixed .top .i {
  margin: 0 auto;
  height: 20px;
  width: 17px;
  background-position: -220px -73px;
}

.htwarp .Cont_L {
  width: 925px;
  margin-right: 30px;
}

.htwarp .Cont_L .schoolht .list .td2 {
  width: 500px;
}

.htwarp .Cont_L .schoolht .list .lablis .td2 {
  width: 430px;
}

.htwarp .Cont_L .schoollist .ul li .infor {
  width: 550px;
}

.htwarp .Cont_R {
  width: 245px;
}

.htwarp .MinR1 .ul2 li .infor {
  width: 165px;
}

.schoolht .title {
  border: none;
}

.schoolht .title .backht {
  float: right;
  color: #fe7830;
}

.schoolht .title .backht:hover {
  text-decoration: underline;
}

.schoolht .title .backht i {
  display: inline-block;
  vertical-align: middle;
  height: 11px;
  width: 9px;
  background-position: -376px -37px;
  margin: -2px 10px 0 0;
}

.schoolht .title .topic {
  float: right;
  background: #fe7830;
  height: 36px;
  width: 80px;
  text-align: center;
  line-height: 36px;
  color: #fff;
  margin-top: 24px;
  cursor: pointer;
}

.schoolht .title .topic:hover {
  background: #f3681d;
}

.schoolht .htswtch {
  height: 45px;
  background: #eaeaea;
  margin: 10px 0 0 0;
  overflow: hidden;
}

.schoolht .htswtch .lab {
  float: left;
}

.schoolht .htswtch .lab a {
  display: block;
  float: left;
  width: 100px;
  text-align: center;
  line-height: 45px;
  background: #eed6c9;
  color: #000;
}

.schoolht .htswtch .lab a:hover {
  background: #fe7830;
  color: #fff;
}

.schoolht .htswtch .lab .on {
  background: #fe7830;
  color: #fff;
}

.schoolht .htswtch .search {
  float: right;
}

.schoolht .htswtch .search .form {
  height: 30px;
  width: 151px;
  border-radius: 3px;
  margin: 7px 13px 0 0;
}

.schoolht .htswtch .search .form input {
  border: none;
  background: #f2f2f2;
  width: 90px;
  padding: 4px 10px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  float: left;
  display: block;
  border-radius: 3px 0 0 3px;
  border: 1px solid #adadad;
  border-right: 0px;
  color: #fe7830;
}

.schoolht .htswtch .search .form input:focus {
  border-color: #fe7830;
}

.schoolht .htswtch .search .form .but {
  float: left;
  width: 40px;
  height: 30px;
  text-align: center;
  color: #fff;
  background: #fe7830;
  line-height: 30px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 0 3px 3px 0;
}

.schoolht .htswtch .report {
  float: right;
  line-height: 45px;
  padding: 0 20px;
  color: #848484;
}

.schoolht .htswtch .report i {
  display: inline-block;
  vertical-align: middle;
  margin: -3px 4px 0 0;
  height: 17px;
  width: 16px;
  background-position: -346px -73px;
}

.schoolht .htswtch .report.on {
  color: #fe7830;
}

.schoolht .htswtch .report.on i {
  background-position: -371px -70px;
}

.schoolht .list .td1 {
  width: 120px;
  margin-right: 10px;
  float: left;
}

.schoolht .list .td2 {
  width: 400px;
  margin-right: 10px;
  float: left;
  overflow: hidden;
}

.schoolht .list .td3 {
  width: 150px;
  margin-right: 10px;
  text-align: center;
  float: left;
}

.schoolht .list .td4 {
  width: 120px;
  float: left;
}

.schoolht .list .lablis {
  color: #9d9d9d;
  font-size: 13px;
  line-height: 56px;
  height: 56px;
}

.schoolht .list .lablis .td2 {
  padding-left: 70px;
  width: 330px;
}

.schoolht .list .ul {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.schoolht .list .ul li {
  height: 23px;
  line-height: 23px;
  padding: 7px 0;
  overflow: hidden;
}

.schoolht .list .ul li p {
  display: block;
  overflow: hidden;
  color: #434343;
  font-size: 13px;
}

.schoolht .list .ul li .td1 {
  display: block;
  border: 1px solid #ababab;
  text-align: center;
  line-height: 21px;
  font-size: 12px;
  color: #3b3b3b;
  overflow: hidden;
  border-radius: 3px;
}

.schoolht .list .ul li .td2 p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.schoolht .list .ul li .td2 .zd a {
  color: #ff2828;
}

.schoolht .list .ul li .td2 .zd a:hover {
  color: #ff2828;
}

.schoolht .list .ul li .td2 .jh .bq {
  background: #ffae01;
}

.schoolht .list .ul li .td2 .bq {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 8px 0 0;
  width: 50px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background: #3e77e9;
  border-radius: 5px;
}

.schoolht .list .ul li .td2 a {
  color: #292929;
}

.schoolht .list .ul li .td2 a:hover {
  color: #fe7830;
  text-decoration: underline;
}

.schoolht .list .ul li .td2 a u {
  color: #ff1212;
}

.schoolht .list .ul li .td3 {
  height: 100%;
  overflow: hidden;
  color: #6e6e6e;
  font-size: 13px;
}

.schoolht .htinfor {
  background: #fff;
  padding-bottom: 10px;
}

.schoolht .hthop {
  border-bottom: 1px solid #e9e9e9;
  padding: 20px 15px;
}

.schoolht .hthop .hth1 {
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  display: block;
  color: #939393;
}

.schoolht .hthop .hth1 .h1 {
  float: left;
  height: 100%;
  font-size: 18px;
  max-width: 470px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  color: #000;
  margin-right: 20px;
}

.schoolht .hthop .hth1 .Colle {
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  line-height: 35px;
  color: #7a7a7a;
  cursor: pointer;
  margin: -2px 10px 0;
}

.schoolht .hthop .hth1 .Colle .icoColle {
  height: 18px;
  width: 22px;
  background-position: -371px 0;
  display: inline-block;
  vertical-align: middle;
  margin: -1px 8px 0 0;
}

.schoolht .hthop .hth1 .Colle.on .icoColle {
  background-position: -339px 0;
}

.schoolht .hthop .hth1 .reply {
  float: right;
  width: 73px;
  height: 33px;
  border: 1px solid #fe7830;
  color: #fe7830;
  text-align: center;
  line-height: 33px;
  cursor: pointer;
}

.schoolht .hthop .hth1 .reply:hover {
  background: #fe7830;
  color: #fff;
}

.schoolht .hthop .labtex {
  margin-top: 10px;
  color: #9b9b9b;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
}

.schoolht .hthop .labtex span {
  margin-right: 30px;
}

.schoolht .hthop .labtex .sp1 {
  color: #000;
}

.schoolhtinfor .title {
  border-bottom: 1px solid #e9e9e9;
}

.schoolhtinfor .htswtch {
  background: none;
}

.inforcenter {
  font-size: 14px;
  word-break: break-all;
  padding: 10px 20px;
  color: #1280f3;
}

.inforcenter table, .inforcenter video, .inforcenter iframe, .inforcenter embed {
  max-width: 100%;
}

.inforcenter img {
  max-width: 100%;
  width: auto;
}

.inforcenter p {
  line-height: 26px;
  color: #000;
  margin: 10px auto;
}

.inforcenter p > img {
  cursor: pointer;
}

.inforcenter h3 {
  height: 30px;
  line-height: 30px;
  padding: 10px 0;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

.noinforcenter {
  color: #696969;
  padding: 20px;
  line-height: 30px;
}

.givethumbsup {
  background: #fff;
  border: 1px solid #f7ebe7;
  text-align: center;
  margin: 30px auto;
  width: 78px;
  height: 68px;
  border-radius: 50%;
  padding: 10px 0 0 0;
  cursor: pointer;
  color: #fe7830;
  overflow: hidden;
}

.givethumbsup:hover {
  background: #fe7830;
  color: #fff;
}

.givethumbsup:hover i {
  background-position: -101px -116px;
}

.givethumbsup i {
  display: block;
  margin: 0 auto;
  height: 28px;
  width: 35px;
  background-position: -149px -118px;
}

.givethumbsup p {
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  width: 100%;
  font-size: 16px;
  display: block;
  padding-top: 3px;
}

.givethumbsup.on {
  background: #fe7830;
  color: #fff;
}

.givethumbsup.on i {
  background-position: -101px -116px;
}

.bdsharebuttonbox {
  height: 30px;
}

.bdsharebuttonbox a {
  background: url("../images/icoshra.png") no-repeat center !important;
  display: block;
  float: left;
  width: 30px !important;
  height: 30px !important;
  margin: 0px 9px 0 0px !important;
  padding: 0 !important;
}

.bdsharebuttonbox .bds_more {
  background-position: 0 -2px !important;
}

.bdsharebuttonbox .bds_qzone {
  background-position: -134px -3px !important;
}

.bdsharebuttonbox .bds_tsina {
  background-position: -88px -2px !important;
}

.bdsharebuttonbox .bds_tqq {
  background-position: -222px -2px !important;
}

.bdsharebuttonbox .bds_renren {
  background-position: -177px -2px !important;
}

.bdsharebuttonbox .bds_weixin {
  background-position: -47px -3px !important;
}

.screenlist {
  padding: 30px 0 20px;
  position: relative;
  overflow: hidden;
}

.screenlist .item {
  width: 100%;
  overflow: hidden;
}

.screenlist .list {
  width: 100%;
  padding-bottom: 5px;
}

.screenlist .list .bt {
  float: left;
  color: #6e6e6e;
  width: 90px;
  text-align: right;
  overflow: hidden;
  line-height: 32px;
  height: 32px;
}

.screenlist .list .lis {
  float: left;
  width: 1100px;
  padding-left: 10px;
  font-size: 0px;
}

.screenlist .list .lis a {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  margin: 0px 7px 10px 0;
  border: 1px solid #dee2e6;
  background: #f8f8f9;
  padding: 0 15px;
  line-height: 30px;
  height: 30px;
  color: #6e6e6e;
}

.screenlist .list .lis a:hover {
  background: #fe7830;
  border-color: #fe7830;
  color: #fff;
}

.screenlist .list .lis .first {
  background: #fff1ea;
  border-color: #ffc8ab;
}

.screenlist .list .lis .on {
  background: #fe7830;
  border-color: #fe7830;
  color: #fff;
}

.screenlist .morelis {
  position: absolute;
  right: 0px;
  bottom: 5px;
  color: #fe7830;
  height: 20px;
  line-height: 20px;
  width: auto;
  cursor: pointer;
}

.screenlist .morelis i {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0 5px;
  height: 5px;
  width: 10px;
  background-position: -224px -139px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.screenlist .morelis.on i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.fastnav {
  background: #fff8f5;
  border: 1px solid #ffc8ab;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
  margin: 10px 0;
}

.fastnav .bt {
  float: left;
  color: #fe7830;
  width: 100px;
  text-align: center;
}

.fastnav p {
  float: left;
  width: 1090px;
  border-left: 1px solid #ffd5be;
}

.fastnav p a {
  float: left;
  width: 40px;
  text-align: center;
  border-right: 1px solid #ffd5be;
  height: 40px;
  margin: -1px 0 0 0;
  line-height: 40px;
  color: #fe7830;
}

.fastnav p a:hover {
  background: #ffc8ab;
}

.fastnav p .on {
  color: #fff;
  background: #fe7830;
}

.fastnav p .on:hover {
  background: #fe7830;
}

.screenrecord {
  height: 32px;
  line-height: 32px;
  padding: 20px 10px;
  overflow: hidden;
  color: #6e6e6e;
}

.screenrecord .bt {
  float: left;
  width: 70px;
  text-align: center;
  overflow: hidden;
  height: 100%;
}

.screenrecord ul {
  float: left;
  max-width: 550px;
  overflow: hidden;
  height: 100%;
}

.screenrecord ul li {
  float: left;
  padding: 0 24px  0 10px;
  border: 1px solid #ffc8ab;
  position: relative;
  height: 30px;
  line-height: 30px;
  background: #fff1ea;
  color: #fe7830;
  position: relative;
  margin: 0 10px 0 0;
}

.screenrecord ul li span {
  display: block;
  background: url("../images/ico_img.png") no-repeat center;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 9px;
  display: block;
  height: 12px;
  width: 12px;
  background-position: -236px -118px;
}

.screenrecord ul li:hover {
  background: #fe7830;
  border-color: #fe7830;
  color: #fff;
}

.screenrecord ul li:hover span {
  background-position: -215px -117px;
}

.screenrecord .jl {
  float: right;
  text-align: right;
  overflow: hidden;
  height: 100%;
  max-width: 180px;
}

.schoollisnav {
  background: #fff8f5;
  height: 46px;
  width: 100%;
  line-height: 45px;
  overflow: hidden;
  position: relative;
}

.schoollisnav::after {
  content: '';
  width: 100%;
  height: 0px;
  border-bottom: 1px solid #ffd5be;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 0;
}

.schoollisnav li {
  float: left;
  padding: 0 20px;
  display: block;
  color: #6e6e6e;
  position: relative;
  z-index: 1;
  border-radius: 5px 5px 0 0;
}

.schoollisnav li:hover {
  color: #fe7830;
}

.schoollisnav li a {
  color: #6e6e6e;
}

.schoollisnav li a:hover {
  color: #fe7830;
}

.schoollisnav .on {
  height: 46px;
  background: #fff3ec;
  border: 1px solid #ffd5be;
  border-bottom: none;
}

.schoollisnav .on a {
  color: #fe7830;
}

.schoollist .ul li {
  border-bottom: 1px solid #eee;
  padding: 0 0 10px 0;
}

.schoollist .ul li .img {
  width: 95px;
  height: 95px;
  display: block;
  padding: 20px 12px 0;
  float: left;
}

.schoollist .ul li .infor {
  float: left;
  width: 480px;
  color: #515151;
}

.schoollist .ul li .infor .ptop {
  line-height: 35px;
  width: 100%;
  position: relative;
  height: 62px;
}

.schoollist .ul li .infor .ptop .name {
  display: inline-block;
  vertical-align: middle;
  max-width: 230px;
  overflow: hidden;
  font-size: 20px;
  font-weight: normal;
  padding-top: 27px;
  height: 35px;
}

.schoollist .ul li .infor .ptop .name:hover {
  text-decoration: underline;
}

.schoollist .ul li .infor .ptop .tis {
  display: inline-block;
  vertical-align: middle;
  color: #515151;
  font-size: 14px;
  padding-top: 27px;
  position: relative;
  max-width: 160px;
  overflow: hidden;
  height: 35px;
}

.schoollist .ul li .infor .ptop .lab {
  position: relative;
  margin-top: 27px;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  color: #c24300;
  background: #fce1bd;
  padding: 0 5px;
  border-radius: 3px;
}

.schoollist .ul li .infor .ptop .lab::after {
  content: '';
  display: block;
  position: absolute;
  left: -5px;
  bottom: 5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #fce1bd;
}

.schoollist .ul li .infor .ptop .Colle {
  display: inline-block;
  vertical-align: middle;
  padding-top: 27px;
  height: 35px;
  line-height: 35px;
  color: #7a7a7a;
  cursor: pointer;
}

.schoollist .ul li .infor .ptop .Colle .icoColle {
  height: 18px;
  width: 22px;
  background-position: -371px 0;
  display: inline-block;
  vertical-align: middle;
  margin: -1px 8px 0;
}

.schoollist .ul li .infor .ptop .Colle.on .icoColle {
  background-position: -339px 0;
}

.schoollist .ul li .infor .text {
  line-height: 30px;
  padding: 5px 0;
}

.schoollist .ul li .infor .text i {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 5px 0;
  height: 18px;
  width: 20px;
  background-position: -332px -31px;
}

.schoollist .ul li .infor .bq {
  height: 20px;
  line-height: 20px;
  width: 100%;
  overflow: hidden;
  padding-top: 5px;
}

.schoollist .ul li .infor .bq .lab_ {
  float: left;
  background: #fff1ea;
  padding: 0 15px;
  overflow: hidden;
  color: #e49a72;
  margin-right: 10px;
  border-radius: 10px;
}

.schoollist .ul li .infor .lis {
  padding: 10px 0 0 0;
  line-height: 30px;
}

.schoollist .ul li .infor .lis a {
  display: block;
  float: left;
  margin-right: 20px;
  position: relative;
  color: #515151;
}

.schoollist .ul li .infor .lis a:hover {
  color: #0172ce;
  text-decoration: underline;
}

.schoollist .ul li .ht {
  border: 1px dashed #ffd5be;
  margin: 20px 0 5px 0;
  float: right;
  width: 200px;
  padding: 10px;
}

.schoollist .ul li .ht .h3 {
  height: 30px;
  line-height: 30px;
  width: 100%;
  color: #0172ce;
}

.schoollist .ul li .ht p {
  width: 100%;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  color: #515151;
}

.schoollist .ul li .ht p a {
  color: #515151;
}

.schoollist .ul li .ht p a:hover {
  color: #fe7830;
}

.schoollist .ul2 li {
  padding: 15px 0;
  border-bottom: 1px solid #e9e9e9;
}

.schoollist .ul2 li .btname {
  height: 30px;
  padding: 15px 0;
  line-height: 30px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.schoollist .ul2 li .btname .bq {
  width: 40px;
  height: 23px;
  line-height: 23px;
  background: #ffae01;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  margin: -2px 10px 0 0;
  text-align: center;
  font-size: 12px;
}

.schoollist .ul2 li .btname .a {
  font-size: 17px;
}

.schoollist .ul2 li .btname .a:hover {
  text-decoration: underline;
}

.schoollist .ul2 li .btname i {
  display: inline-block;
  vertical-align: middle;
  margin: -3px 10px 0;
}

.schoollist .ul2 li .btname .icolink {
  height: 23px;
  width: 22px;
  background-position: -301px -117px;
}

.schoollist .ul2 li .btname .icovideo {
  height: 22px;
  width: 24px;
  background-position: -263px -117px;
}

.schoollist .ul2 li .text {
  line-height: 30px;
  color: #515151;
  margin-right: 150px;
  text-align: justify;
  max-height: 90px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.schoollist .ul2 li .lab {
  padding-top: 10px;
  height: 30px;
  line-height: 30px;
  width: 100%;
  overflow: hidden;
  display: block;
  color: #a0a0a0;
  font-size: 13px;
}

.schoollist .ul2 li .lab .time {
  float: left;
}

.schoollist .ul2 li .lab .lab_bt {
  float: right;
}

.schoollist .ul2 li .lab .lab_bt .lab_ {
  float: left;
  display: block;
  margin-left: 20px;
  color: #515155;
  font-size: 12px;
}

.schoollist .ul2 li .lab .lab_bt .lab_ i {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 5px 0;
}

.schoollist .ul2 li .lab .lab_bt .lab_ .icoshar {
  height: 19px;
  width: 19px;
  background-position: -280px 0;
}

.schoollist .ul2 li .lab .lab_bt .lab_ .icopl {
  height: 18px;
  width: 18px;
  background-position: -219px 0;
}

.schoollist .ul2 li .lab .lab_bt .lab_:hover {
  color: #fe7830;
}

.schoollist .ul2 li .lab .lab_bt .lab_:hover .icoshar {
  background-position: -309px 0;
}

.schoollist .ul2 li .lab .lab_bt .lab_:hover .icopl {
  background-position: -249px 0;
}
/*# sourceMappingURL=common.css.map */