.commont{
  padding: 0;
  background: #fafafa;
}
.bjffff{
  background: #ffff;
}
.Cont_L{
  width: 825px;
  margin-right: 35px;
}
.Cont_R{
  width: 340px;
}
.noziyuan{
  padding: 60px 0;
  p{
    height: 40px;
    line-height: 40px;
    color: #a0a0a0;
    text-align: center;
    .icono{
      display: inline-block;
      vertical-align: middle;
      margin: -2px 10px 0 0;
      height:20px;width:28px;
      background-position: -293px -71px;
    }
  }
}
.morebott{
  margin: 30px auto;
  border:1px solid #c7c5c5ee;
  height: 44px;
  line-height: 44px;
  border-radius: 5px;
  display: block;
  width: 300px;
  text-align: center;
  color: #515151 !important;
  &:hover{
    background: #fe7830;
    color: #fff !important;
    border-color: #fe7830;
    text-decoration: none !important;
  }

}
.MinR1{
  width: 100%;
  overflow: hidden;
  .ul1{
    padding: 10px 0 0;
    li{
     padding: 0px 0 5px;
      .name{
        &::before{
          content: '';
          display: inline-block;
          vertical-align: middle;
          margin: -2px 5px 0 0;
          width: 2px;
          height: 2px;
          background: #515151;
          border-radius: 50%;
        }
        color: #0172ce;
        font-size: 14px;
        display: block;
      max-height: 60px;
      line-height: 30px;
      &:hover{
        text-decoration: underline;
      }
      }
      .time{
        font-size: 12px;
        color: #515151;
        text-align: right;
        height: 20px;
        line-height: 20px;
        margin-top: -5px;
      }
    }
  }
  .ul1.ul_{
    li{
      a{
        color: #2a2a2a;
        &:hover{
          color: #0172ce;
        }
      }
    }
  }
  .ul2{
    padding: 10px 0;
    li{
      height: 65px;
      padding: 15px 0;
      .img{
        height: 65px;
        width: 65px;
        display: block;
        float: left;
      }
      .infor{
        width: 255px;
        float: left;
        padding-left: 15px;
        .name{
            height: 34px;
            line-height: 34px;
          font-size: 15px;
          width: 100%;
          overflow: hidden;
          display: block;
          text-overflow: ellipsis;
          white-space: nowrap;
          &:hover{
            text-decoration: underline;
          }

        }
        .bq{
          height: 20px;
          line-height: 20px;
          width: 100%;
          overflow: hidden;
          padding-top: 6px;
          .lab{
            float: left;
            background: #fff1ea;
            padding: 0 15px;
            overflow: hidden;
            color: #e49a72;
            margin-right: 10px;
            font-size: 12px;
            border-radius: 10px;
          }
        }
      }
    }
  }
  .tuijian{
    padding: 20px 0 10px;
    .img{
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
.school_hometop{
  border-bottom: 1px solid #f1f1f1;
  background: #fff;
  min-height: 250px;
  padding-top: 30px;
  .schoolname{
    padding-right: 300px;
    position: relative;
    .schoolimg{
      height: 95px;
      width: 95px;
      float: left;
      padding: 27px 10px 10px;
      .img{
        width: 100%;
        height: 100%;
        
      }
    }
    .infor{
      float: left;
      width: 740px;
      padding-left: 30px;
      position: relative;
      .ptop{
        line-height: 35px;
        width: 100%;
        position: relative;
        height: 62px;
        .h1{
          display: inline-block;
          vertical-align: middle;
          max-width: 240px;
          overflow: hidden;
          font-size: 24px;
          font-weight: normal;
          padding-top: 27px;
          height: 35px;
        }
        .tis{
          display: inline-block;
          vertical-align: middle;
          color: #515151;
          font-size: 14px;
          padding-top: 27px;
          position: relative;
          max-width: 200px;
          overflow: hidden;
          height: 35px;
        }
        .lab{
          position: absolute;
          height: 20px;
          font-size: 12px;
          line-height: 20px;
          color: #c24300;
          background: #fce1bd;
          padding: 0 5px;
          border-radius: 3px;
          top: 3px;
          left: 10px;
          
          &::after{
            content: '';
            display: block;
            position: absolute;
            left: 0px;
            bottom: -5px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #fce1bd;
          }
        }
        .layui-form{
          display: inline-block;
          vertical-align: middle;
          padding-top: 27px;
          height: 35px;
          margin: 0 10px;
          .layui-form-item .layui-input-inline{
            width: 150px;
          }
        }
        .Colle{
          display: inline-block;
          vertical-align: middle;
          padding-top: 27px;
          height: 35px;
          line-height: 35px;
          color: #7a7a7a;
          cursor: pointer;
          .icoColle{
            height:18px;width:22px;background-position: -371px 0;
            display: inline-block;
            vertical-align: middle;
            margin: -1px 8px 0 0;
          }
        }
        .Colle.on{
          .icoColle{
            background-position: -339px 0;
          }
        }
      }
      .dizhi{
        padding-top: 5px;
       .p{
        height: 30px;
        line-height: 30px;
        color: #515151;
        width: 100%;
        overflow: hidden;
        span{
          color: #0172ce;
          padding: 0 5px;
        }
       }
      }
      .lablis{
        height: 20px;
        line-height: 20px;
        width: 100%;
        overflow: hidden;
        padding-top: 10px;
        .lab_{
          float: left;
          background: #fff1ea;
          padding: 0 15px;
          overflow: hidden;
          color: #e49a72;
          margin-right: 10px;
          border-radius: 10px;
        }
      }
      .lis{
        width: 100%;
        height: 80px;
        line-height: 40px;
        color: #515151;
        padding-top: 10px;
        p{
          float: left;
          width: 250px;
          margin-right: 5px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          height: 40px;
          i{
            display: inline-block;
            vertical-align: middle;
            margin: -2px 5px 0 ;
          }
          .ico1{height:16px;width:18px;background-position: -273px -33px;}
          .ico2{height:19px;width:14px;background-position: -219px -31px;}
          .ico3{height:15px;width:19px;background-position: -303px -33px}
          .ico4{height:17px;width:17px;background-position: -241px -33px;}
          .ico5{height:18px;width:20px;background-position: -332px -31px;}
        }
        .p2{
          width: 400px;
        }
      }
    
    }
    .saolimg{
      position: absolute;
      right: 20px;
      top: 30px;
      width: 263px;
      .line1{
        background: url("../images/saoimli1.png") no-repeat center;
        position: relative;
        width: 263px;
        height: 14px;
      }
      .line2{
       background: url("../images/saoimli1.png") no-repeat center;
       position: absolute;
       width: 263px;
       height: 14px;
       top: 0px;
       left: 0;
       z-index: 2;
     }
     .img{
       width: 130px;
       height: 130px;
       margin: 0 auto;
       margin-top: -11px;
       position: relative;
       z-index: 1;

     }
     .font{
       height: 50px;
       line-height: 25px;
       text-align: center;
       color: #515151;
     }
   }
  }
}
.schoolnav{
  height: 84px;
  background: #fff;
  box-shadow: 0px 20px 20px rgba(254, 120, 48, 0.1);
  line-height: 84px;
  margin-bottom: 20px;
  li{
    float: left;
    padding:0 15px;
    min-width: 100px;
    text-align: center;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    a{
      color: #000;
      display: block;
      width: 100%;
      height: 100%;
    }
    &:hover{
      background: #fff8f4;
    }
  }
  .on{
    background: #fff8f4;
    color: #fe7830;
    font-weight: bold;
    a{
      color: #fe7830;
    }
  }
}
.schoollab{
  width: 100%;
  padding: 20px 0;
  height: 200px;
  .img{
    float: left;
    height: 200px;
    width: 400px;

  }
  .infor{
    width: 775px;
    float: left;
    padding-left: 25px;
    overflow: hidden;
    p{
      line-height: 32px;
      color: #515151;
      font-size: 16px;
      text-align: justify;
      display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical; word-break: break-all;   
      height: 165px;  
      width: 100%;
      overflow: hidden;
    }
    .more{
      color: #fe7830;
      font-size: 15px;
      text-decoration: underline;
      padding-top: 15px;
    }
  }
  

}
.switchboxck{
  .schoolitem{
    width: 100%;
  }
}
.schoolitem{
  color: #515151;
  line-height: 38px;
  width: 690px;
  margin-bottom: 20px;
  .title{
    .lab_a{
      float: right;
      height: 100%;
      a{
        color: #6a6a6a;
        font-size: 14px;
        display: block;
        float: left;
        margin: 0 8px;
        padding: 0 5px;
        position: relative;
        line-height: 40px;
        padding-top: 20px;
        text-decoration: none;
        &::after{
          content: '';
          display: block;
          width: 100%;
          height: 4px;
          position: absolute;
          left: 0px;
          bottom: 0px;
          background: #fbe0d2;
        }
        &:hover{
          &::after{
            background: #fe7830;
          }
        }
      }
      .on{
        &::after{
          background: #fe7830;
        }
      }
    }
  }
  a{
    color: #fe7830;
    &:hover{
      text-decoration: underline;
    }
  }
  ul{
    padding: 10px 0;
    li{
      &::before{
        content: '';
          display: inline-block;
          vertical-align: middle;
          margin: -2px 8px 0 0;
          width: 2px;
          height: 2px;
          background: #515151;
          border-radius: 50%;
      }
      .a{
        display: inline-block;
        vertical-align: middle;
        margin: -2px 10px 0 0;
        max-width: 400px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #515151;
        &:hover{
          color: #fe7830;
        }
      }
      span{
        color: #0172ce;
        font-size: 13px;
      }
    }
  }
  .text{
    padding: 10px 0;
    a{
      color: #fe7830;
    }
    .lab{
      display: inline-block;
      vertical-align: middle;
      background: #faeae1;
        padding: 0 15px;
        overflow: hidden;
        color: #e49b73;
        margin-right: 10px;
        border-radius: 20px;
        height: 26px;
        line-height: 26px;
    }
  }
  .text2{
    padding: 15px 0 0;
    line-height: 30px;
    font-size: 14px;
    a{
      color: #fe7830;
    }
   p{
     padding-bottom: 10px;
   }
  }
  .lis{
    padding: 15px 0 10px 0;
    .namebt{
       height: 40px;
       line-height: 40px;
       width: 100%;
       display: block;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
       font-size: 15px;
       color: #000;
       &:hover{
         color: #fe7830;
       }
    }
    .inforce{
      height: 100px;
      padding: 10px 0 0 0;
      .img{
        float: left;
        width: 200px;
        height: 100px;
        &:hover{
          img{
            transform: scale(1.1);
          }
        }

      }
      .infor{
        float: left;
        width: 470px;
        height: 100%;
        overflow: hidden;
        padding-left: 15px;
       

      }
    }
    .tex{
      line-height: 30px;
      font-size: 14px;
      text-align: justify;
      width: 100%;
      max-height: 70px;
      overflow: hidden;
      display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all;     

    }
    .bq{
      width: 100%;
      height: 38px;
      line-height: 38px;
      overflow: hidden;
      .time{
        float: left;
        font-size: 12px;
        color: #9a9a9a;
      }
      .lab_bt{
        float: right;
        .lab_{
          float: left;
          display: block;
          margin-left: 20px;
          color: #515155;
          font-size: 12px;
          i{
            display: inline-block;
            vertical-align: middle;
            margin: -2px 5px 0;
          }
          .icoshar{height:19px;width:19px;background-position: -280px 0;}
          .icopl{height:18px;width:18px;background-position: -219px 0;}
          &:hover{
            color: #fe7830;
            .icoshar{background-position: -309px 0;}
            .icopl{background-position: -249px 0;}

          }
        }
      }
    }
  }
  .p1{
    padding-bottom: 10px;
  }
  .labul{
    padding: 10px 0;
    a{
      color: #0172ce;
      &:hover{
        color: #fe7830;
        text-decoration: underline;
      }
    }
    .li{
      height: 50px;
      line-height: 50px;
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      .lab{
        width: 50px;
        height: 23px;
        line-height: 23px;
        border-radius: 3px;
        color: #fff;
        background: #ffae01;
        display: inline-block;
        vertical-align: middle;
        margin: -2px 10px 0 0;
        color: #fff;
        text-align: center;
        font-size: 12px;
      }
    
    }
   
    ul{
      li{
        &::before{
          background: #b1b1b1;
          width: 5px;
          height: 5px;
        }
      }
    }
  }
  table{
    max-width: 100%;
    text-align: center;
    line-height: 46px;
    font-size: 14px;
    margin: 10px auto;
    th{
      background: #f8f8f9;
    }
    tr{
      &:hover{
        background: #ebf7ff;
      }
    }
  }
  .item{
    .lis{
      border-bottom: 1px solid #e9e9e9;
      .infor{
        width: 610px;
      }
    }
  }
}
.schoolboot{
  background: #ffffff;
  padding: 10px 0;
  ul{
    width: 100%;
    li{
      width: 16.66666%;
      float: left;
      text-align: center;
      .bt{
        height: 60px;
        line-height: 60px;
        font-weight: bold;
        font-size: 15px;
      }
      .a{
        color: #666666;
        display: block;
        font-size: 12px;
        line-height: 30px;
        height: 30px;
        margin: 5px;
        overflow: hidden;
        &:hover{
          color: #fe7830;
        }

      }
    }
  }
}
.schoolflex{
  background: #fafafa;
  border:1px solid #e5e5e5;
  width: 78px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 1;
  ul{
    padding: 10px 0;
  }
  li{
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    color: #6a6a6a;
    font-size: 12px;
    cursor: pointer;
    &:hover{
      background: #faede5;
    }
  }
  .on{
    background: #fe8544;
    color: #fff;
    &:hover{
      background: #fe8544;
      color: #fff;
    }
  }
  .top{
    padding:0 0 10px 0;
    cursor: pointer;
    i{

      margin: 0 auto;
      display: block;
      height:18px;width:22px;background-position: -176px -72px;
    }
  }
}
.Feedbackfixed{
   position: fixed;
   width: 48px;
   height: 96px;
   text-align: center;
   border:1px solid #e6e6e6;
   overflow: hidden;
   top: 75%;
   margin-top: -50px;
   background: #fafafa;
   right: 20px;
   .back{
     padding: 8px 10px;
     line-height: 18px;
     height: 36px;
     color: #333333;
     background: #e6e6e6;
     width: 30px;
     margin: -1px 0 0 -1px;
     display: block;
     font-size: 12px;
     &:hover{
       background: #555555;
       color: #fff;
     }
   }
   .top{
     width: 100%;
     position: relative;
     cursor: pointer;
     padding: 12px 0;
     &:hover{
       .i{
        background-position: -255px -71px;
       }
     }
     .i{
       margin: 0 auto;
       height:20px;width:17px;
       background-position: -220px -73px;
     }
   }
}

.htwarp{
  .Cont_L{
    width: 925px; 
    margin-right: 30px;
    .schoolht{
      .list {
        .td2{
          width: 500px;
        }
        .lablis .td2{
          width: 430px;
        }
      }
    }
    .schoollist .ul li .infor{
      width: 550px;
    }
  }
  .Cont_R{width: 245px;}
  .MinR1 .ul2 li .infor{
    width: 165px;
  }
}
.schoolht{
  .title{
    border:none;
     .backht{
       float: right;
       color: #fe7830;
       &:hover{
         text-decoration: underline;
       }
       i{
         display: inline-block;
         vertical-align: middle;
         height:11px;width:9px;background-position: -376px -37px;
         margin: -2px 10px 0 0;
       }
     }
    .topic{
      float: right;
      background: #fe7830;
      height: 36px;
      width: 80px;
      text-align: center;
      line-height: 36px;
      color: #fff;
      margin-top: 24px;
      cursor: pointer;
      &:hover{
        background: #f3681d;
      }
    }
  }
 .htswtch{
   height: 45px;
   background: #eaeaea;
   margin: 10px 0 0 0 ;
   overflow: hidden;
   .lab{
     float: left;
     a{
       display: block;
       float: left;
       width: 100px;
       text-align: center;
       line-height: 45px;
       background: #eed6c9;
       color: #000;
       &:hover{
        background: #fe7830;
        color: #fff;
       }

     }
     .on{
       background: #fe7830;
       color: #fff;
     }
   }
   .search{
     float: right;
     .form{
       height: 30px;
       width: 151px;
       border-radius: 3px;
       margin: 7px 13px 0 0;
       input{
         border:none;
         background: #f2f2f2;
         width: 90px;
         padding:4px 10px;
         height: 20px;
         line-height: 20px;
         font-size: 12px;
         float: left;
         display: block;
         border-radius: 3px 0 0 3px;
         border:1px solid #adadad;
         border-right: 0px;
         color: #fe7830;
         &:focus{
           border-color: #fe7830;
         }
       }
       .but{
         float: left;
         width: 40px;
         height: 30px;
         text-align: center;
         color: #fff;
         background: #fe7830;
         line-height: 30px;
          cursor: pointer;
          font-size: 12px;
          border-radius: 0 3px 3px 0;
       }
     }
   }
   .report{
     float: right;
     line-height: 45px;
     padding: 0 20px;
     color: #848484;
     i{
       display: inline-block;
       vertical-align: middle;
       margin: -3px 4px 0 0;
       height:17px;width:16px;background-position: -346px -73px;
     }
   }
   .report.on{
     color: #fe7830;
     i{
      background-position: -371px -70px;
     }
   }
 }
 .list{
   .td1{
     width: 120px;
     margin-right: 10px;
     float: left;
   }
   .td2{
    width: 400px;
    margin-right: 10px;
    float: left;
    overflow: hidden;

  }
  .td3{
    width: 150px;
    margin-right: 10px;
    text-align: center;
    float: left;

  }
  .td4{
    width: 120px;
    float: left;

  }
   .lablis{
     color: #9d9d9d;
     font-size: 13px;
     line-height: 56px;
     height: 56px;
     .td2{
       padding-left: 70px;
       width: 330px;
     }
   }
.ul{
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
  li{
    height: 23px;
    line-height: 23px;
    padding: 7px 0;
    overflow: hidden;
    p{
      display: block;
      overflow: hidden;
      color: #434343;
      font-size: 13px;

    }
    .td1{
      display: block;
      border:1px solid #ababab;
      text-align: center;
      line-height: 21px;
      font-size: 12px;
      color: #3b3b3b;
      overflow: hidden;
      border-radius: 3px;
      
    }
    .td2{
      p{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        height: 100%;
        font-size: 14px;
      }
      .zd{
        a{
          color: #ff2828;
          &:hover{
            color: #ff2828;
          }
        }
      }
      .jh{
        .bq{
          background: #ffae01;
        }
      }
      .bq{
        display: inline-block;
        vertical-align: middle;
        margin: -2px 8px 0 0;
        width: 50px;
        text-align: center;
        font-size: 12px;
        color: #fff;
        background: #3e77e9;
        border-radius: 5px;
      }
      a{
        color: #292929;
        &:hover{
          color: #fe7830;
          text-decoration: underline;
        }
        u{
          color: #ff1212;
        }
      }
      
    }
    .td3{
      height: 100%;
      overflow: hidden;
      color: #6e6e6e;
      font-size: 13px;
    }
  }
}
 }
 .htinfor{
  background: #fff;
  padding-bottom: 10px;
}
.hthop{
 border-bottom: 1px solid #e9e9e9;
 padding:20px 15px;
 .hth1{
   height: 35px;
   line-height: 35px;
   overflow: hidden;
   display: block;
   color: #939393;
   .h1{
     float: left;
     height: 100%;
     font-size: 18px;
     max-width: 470px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     font-weight: bold;
     color: #000;
     margin-right: 20px;
   }
   .Colle{
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    line-height: 35px;
    color: #7a7a7a;
    cursor: pointer;
    margin: -2px 10px 0;
    .icoColle{
      height:18px;width:22px;background-position: -371px 0;
      display: inline-block;
      vertical-align: middle;
      margin: -1px 8px 0 0;
    }
  }
  .Colle.on{
    .icoColle{
      background-position: -339px 0;
    }
  }
   .reply{
     float: right;
     width: 73px;
     height: 33px;
     border:1px solid #fe7830;
     color: #fe7830;
     text-align: center;
     line-height: 33px;
     cursor: pointer;
     &:hover{
       background:#fe7830;
       color: #fff;
     }

   }


   
 }
 .labtex{
   margin-top: 10px;
   color: #9b9b9b;
   line-height: 30px;
   height: 30px;
   overflow: hidden;
  span{
    margin-right: 30px;
  }
  .sp1{
    color: #000;
  }
 }
}
}
.schoolhtinfor{
  .title{
    border-bottom: 1px solid #e9e9e9;
  }
  .htswtch{
    background: none;
  }
}

.inforcenter{
  font-size: 14px;word-break: break-all;
  padding: 10px 20px;
  color: #1280f3;
  table,   video,   iframe,   embed { max-width: 100%; }
  img { max-width: 100%; width: auto;}
  p { line-height: 26px; color: #000; margin: 10px auto; }
  p >img{cursor: pointer;}
  h3 { height: 30px; line-height: 30px; padding: 10px 0; color: #000; font-size: 16px ; font-weight: bold;}
}
.noinforcenter{
  color: #696969;
  padding: 20px;
  line-height: 30px;

}
.givethumbsup{
  background: #fff;
  border:1px solid #f7ebe7;
  text-align: center;
  margin: 30px auto;
  width: 78px;
  height: 68px;
  border-radius: 50%;
  padding: 10px 0 0 0 ;
  cursor: pointer;
  color: #fe7830;
  overflow: hidden;
  &:hover{
    background: #fe7830;
    color: #fff;
    i{
      background-position: -101px -116px;
    }
  }
  i{
    display: block;
    margin: 0 auto;
    height:28px;width:35px;background-position: -149px -118px;
  }
  p{
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    width: 100%;
    font-size: 16px;
    display: block;
    padding-top: 3px;
  }

}
.givethumbsup.on{
  background: #fe7830;
  color: #fff;
  i{
    background-position: -101px -116px;
  }
}



.bdsharebuttonbox { 
  height: 30px;
  a { background: url("../images/icoshra.png") no-repeat center !important; display: block; float: left; width: 30px !important; height: 30px !important; margin: 0px 9px 0 0px !important; padding: 0 !important; }
  .bds_more { background-position: 0 -2px !important; }
  .bds_qzone { background-position: -134px -3px !important; }
  .bds_tsina { background-position: -88px -2px !important; }
  .bds_tqq { background-position: -222px -2px !important; }
  .bds_renren { background-position: -177px -2px !important; }
  .bds_weixin { background-position: -47px -3px !important; }
 }

.screenlist{
   padding: 30px 0 20px;
   position: relative;
   overflow: hidden;
   .item{
     width: 100%;
     overflow: hidden;
   }
   .list{
     width: 100%;
     padding-bottom: 5px;
     .bt{
       float: left;
       color: #6e6e6e;
       width: 90px;
       text-align: right;
       overflow: hidden;
       line-height: 32px;
       height: 32px;

     }
     .lis{
       float: left;
       width: 1100px;
       padding-left: 10px;
       font-size: 0px;
       a{
         display: inline-block;
         vertical-align: middle;
         font-size: 14px;
         margin: 0px 7px 10px 0;
         border:1px solid #dee2e6;
         background: #f8f8f9;
          padding: 0 15px;
          line-height: 30px;
          height: 30px;
          color: #6e6e6e;
          &:hover{
            background: #fe7830;
         border-color: #fe7830;
         color: #fff;
          }
       }
       .first{
         background: #fff1ea;
         border-color: #ffc8ab;
       }
       .on{
         background: #fe7830;
         border-color: #fe7830;
         color: #fff;
       }
     }
   }
   .morelis{
     position: absolute;
     right: 0px;
     bottom:5px;
     color: #fe7830;
     height: 20px;
     line-height: 20px;
     width: auto;
     cursor: pointer;
     i{
       display: inline-block;
       vertical-align: middle;
       margin: -2px 0 0 5px;
       height:5px;width:10px;background-position: -224px -139px;
       transform: rotate(180deg)
     }
   }
   .morelis.on{
     i{
       transform: rotate(0deg)
     }
   }
}
.fastnav{
  background: #fff8f5;
  border:1px solid #ffc8ab;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
  margin: 10px 0;
  .bt{
    float: left;
    color: #fe7830;
    width: 100px;
    text-align: center;
  }
  p{
    float: left;
    width: 1090px;
    border-left: 1px solid #ffd5be;
   
    a{
      float: left;
      width: 40px;
      text-align: center;
      border-right: 1px solid #ffd5be;
      height: 40px;
      margin: -1px 0 0 0;
      line-height: 40px;
      color: #fe7830;
      &:hover{
        background: #ffc8ab;
      }
    }
    .on{
      color: #fff;
      background: #fe7830;
      &:hover{
        background: #fe7830;
      }

    }
  }
}
.screenrecord{
  height: 32px;
  line-height: 32px;
  padding: 20px 10px;
  overflow: hidden;
  color: #6e6e6e;
  .bt{
    float: left;
    width: 70px;
    text-align: center;
    overflow: hidden;
    height: 100%;
  }
  ul{
    float: left;
    max-width: 550px;
    overflow: hidden;
    height: 100%;
    li{
      float: left;
      padding: 0 24px  0 10px;
      border:1px solid #ffc8ab;
      position: relative;
      height: 30px;
      line-height: 30px;
      background: #fff1ea;
      color:#fe7830;
      position: relative;
      margin: 0 10px 0 0;
      span{
        display: block;
        background: url("../images/ico_img.png") no-repeat center;
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 9px;
        display: block;
        height:12px;width:12px;
        background-position: -236px -118px;
      }
      &:hover{
        background: #fe7830;
        border-color: #fe7830;
        color: #fff;
     
        .close{
          background-position: -215px -117px;
        }
      }
    }
  }
  .jl{
    float: right;
    text-align: right;
    overflow: hidden;
    height: 100%;
    max-width: 180px;
  }
}


.schoollisnav{
  background: #fff8f5;
  height: 46px;
  width: 100%;
  line-height: 45px;
  overflow: hidden;
  position: relative;
  &::after{
    content: '';
    width: 100%;
    height: 0px;
    border-bottom: 1px solid #ffd5be;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 0;
  }
  li{
    float: left;
    padding: 0 20px;
    display: block;
    color: #6e6e6e;
    position: relative;
    z-index: 1;
    border-radius: 5px 5px 0 0;
    &:hover{
      color: #fe7830;
    }
    a{
      color: #6e6e6e;
      &:hover{
        color: #fe7830;
      }
    }
  }
  .on{
    height: 46px;
    background: #fff3ec;
    border: 1px solid #ffd5be;
    border-bottom: none;
    a{
      color: #fe7830;
    }
    
    
  }
}

.schoollist{
  .ul{
    li{
      border-bottom: 1px solid #eee;
      padding: 0 0 10px 0;
      .img{
        width: 95px;
        height: 95px;
        display: block;
        padding: 20px 12px 0;
        float: left;

      }
      .infor{
        float: left;
        width: 480px;
        color: #515151;
        .ptop{
          line-height: 35px;
          width: 100%;
          position: relative;
          height: 62px;
          .name{
            display: inline-block;
            vertical-align: middle;
            max-width: 230px;
            overflow: hidden;
            font-size: 24px;
            font-weight: normal;
            padding-top: 27px;
            height: 35px;
          }
          .tis{
            display: inline-block;
            vertical-align: middle;
            color: #515151;
            font-size: 14px;
            padding-top: 27px;
            position: relative;
            max-width: 160px;
            overflow: hidden;
            height: 35px;
          }
          .lab{
            position: relative;
            margin-top: 27px;
           display: inline-block;
           vertical-align: middle;
            height: 20px;
            font-size: 12px;
            line-height: 20px;
            color: #c24300;
            background: #fce1bd;
            padding: 0 5px;
            border-radius: 3px;
            &::after{
              content: '';
              display: block;
              position: absolute;
              left: -5px;
              bottom: 5px;
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent;
              border-right: 5px solid #fce1bd;
            }
          }
          .Colle{
            display: inline-block;
            vertical-align: middle;
            padding-top: 27px;
            height: 35px;
            line-height: 35px;
            color: #7a7a7a;
            cursor: pointer;
            .icoColle{
              height:18px;width:22px;background-position: -371px 0;
              display: inline-block;
              vertical-align: middle;
              margin: -1px 8px 0;
            }
          }
          .Colle.on{
            .icoColle{
              background-position: -339px 0;
            }
          }
        }
        .text{
         
          line-height: 30px;
          padding: 5px 0;
          i{
            display: inline-block;
    vertical-align: middle;
    margin: -2px 5px 0;
            height: 18px;
    width: 20px;
    background-position: -332px -31px;
          }
        }
        .bq{
          height: 20px;
          line-height: 20px;
          width: 100%;
          overflow: hidden;
          padding-top: 5px;
          .lab_{
            float: left;
            background: #fff1ea;
            padding: 0 15px;
            overflow: hidden;
            color: #e49a72;
            margin-right: 10px;
            border-radius: 10px;
          }
        }
        .lis{
          padding: 10px 0 0 0;
          line-height: 30px;
          a{
            display: block;
            float: left;
            margin-right: 20px;
            position: relative;
            color: #515151;
            &:hover{
              color: #0172ce;
              text-decoration: underline;
            }
          }
         
        }
      }
      .ht{
        border:1px dashed #ffd5be;
        margin: 20px 0 5px 0;
        float: right;
        width: 200px;
        padding: 10px;
        .h3{
          height: 30px;
          line-height: 30px;
          width: 100%;
          color: #0172ce;

        }
        p{
          width: 100%;
          height: 25px;
          line-height: 25px;
          overflow: hidden;
          color: #515151;
           a{
             color: #515151;
             &:hover{
               color: #fe7830;
             }
           }
        }

      }
    }
  }
  .ul2{
    li{
      padding:15px 0;
      border-bottom: 1px solid #e9e9e9;
      .btname{
        height: 30px;
        padding: 15px 0;
        line-height: 30px;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        .bq{
          width: 40px;
          height: 23px;
          line-height: 23px;
          background: #ffae01;
          color: #fff;
          border-radius: 5px;
           display: inline-block;
           vertical-align: middle;
           margin: -2px 10px 0 0;
           text-align: center;
           font-size: 12px;
        }
        .a{
          font-size: 17px;
          &:hover{
            font-weight: bold;
          }

        }
        i{
          display: inline-block;
          vertical-align: middle;
          margin: -3px 10px 0;
        }
        .icolink{
          height:23px;width:22px;background-position: -301px -117px;
        }
        .icovideo{
          height:22px;width:24px;background-position: -263px -117px;
        }
      }
      .text{
        line-height: 30px;
        color: #515151;
        margin-right: 150px;
        text-align: justify;
        max-height: 90px;
        display: -webkit-box; -webkit-line-clamp:3;
         -webkit-box-orient: vertical; word-break: break-all;     

      }
      .lab{
        padding-top: 10px;
        height: 30px;
        line-height: 30px;
        width: 100%;
        overflow: hidden;
        display: block;
        color: #a0a0a0;
        font-size:13px;
        .time{
          float: left;

        }
        .lab_bt{
          float: right;
          .lab_{
            float: left;
            display: block;
            margin-left: 20px;
            color: #515155;
            font-size: 12px;
            i{
              display: inline-block;
              vertical-align: middle;
              margin: -2px 5px 0;
            }
            .icoshar{height:19px;width:19px;background-position: -280px 0;}
            .icopl{height:18px;width:18px;background-position: -219px 0;}
            &:hover{
              color: #fe7830;
              .icoshar{background-position: -309px 0;}
              .icopl{background-position: -249px 0;}
  
            }
          }
        }
      }
    }
  }
}