body {
  background: #fff;
}

body .footerwarp {
  background: #212112;
}

.indexcommont {
  position: static;
}

.Imaibox {
  margin-bottom: 20px;
}

.Imai1 {
  width: 100%;
}

.Imai1 .Imai1-1 {
  width: 440px;
}

.Imai1 .Imai1-1 .Imai1-1-1 {
  height: 220px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.Imai1 .Imai1-1 .Imai1-1-1 .lunbox {
  width: 100%;
  height: 100%;
}

.Imai1 .Imai1-1 .Imai1-1-1 .lunbox:hover .icoimg {
  display: block;
}

.Imai1 .Imai1-1 .Imai1-1-1 .lunbox .bd li {
  width: 440px;
  height: 220px;
  overflow: hidden;
  position: relative;
}

.Imai1 .Imai1-1 .Imai1-1-1 .lunbox .bd li:hover p {
  color: #fe7830;
}

.Imai1 .Imai1-1 .Imai1-1-1 .lunbox .bd li .img {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
}

.Imai1 .Imai1-1 .Imai1-1-1 .lunbox .bd li p {
  font-size: 16px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  line-height: 30px;
  width: 100%;
  height: 30px;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
  zoom: 1;
  background: rgba(0, 0, 0, 0.8);
}

.Imai1 .Imai1-1 .Imai1-1-1 .lunbox .bd li p span {
  max-width: 350px;
  padding: 0 10px;
  display: block;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.Imai1 .Imai1-1 .Imai1-1-1 .lunbox .hd {
  position: absolute;
  height: 8px;
  line-height: 8px;
  width: 100px;
  right: 0px;
  bottom: 10px;
  text-align: center;
}

.Imai1 .Imai1-1 .Imai1-1-1 .lunbox .hd li {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: -2px 4px 0;
  background: #aeaeae;
  overflow: hidden;
  text-indent: 100em;
}

.Imai1 .Imai1-1 .Imai1-1-1 .lunbox .hd .on {
  background: #fe7830;
}

.Imai1 .Imai1-1 .Imai1-1-1 .lunbox .icoimg {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  display: none;
  cursor: pointer;
  height: 40px;
  width: 25px;
}

.Imai1 .Imai1-1 .Imai1-1-1 .lunbox .prev {
  left: 10px;
  background-position: 0 -111px;
}

.Imai1 .Imai1-1 .Imai1-1-1 .lunbox .next {
  right: 10px;
  background-position: -45px -109px;
}

.Imai1 .Imai1-1 .Imai1-1-2 .lunbox {
  width: 100%;
  padding: 20px 0 0 0;
  position: relative;
}

.Imai1 .Imai1-1 .Imai1-1-2 .lunbox .bd {
  width: 100%;
  overflow: hidden;
}

.Imai1 .Imai1-1 .Imai1-1-2 .lunbox .bd li {
  width: 100%;
  height: 140px;
  overflow: hidden;
}

.Imai1 .Imai1-1 .Imai1-1-2 .lunbox .bd li .lis_a {
  margin: 0 10px;
  width: 200px;
  float: left;
  display: block;
}

.Imai1 .Imai1-1 .Imai1-1-2 .lunbox .bd li .lis_a .img {
  width: 200px;
  height: 100px;
  border-radius: 2px;
  overflow: hidden;
}

.Imai1 .Imai1-1 .Imai1-1-2 .lunbox .bd li .lis_a .name {
  height: 40px;
  line-height: 40px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.Imai1 .Imai1-1 .Imai1-1-2 .lunbox .labbox {
  height: 35px;
  line-height: 35px;
  position: absolute;
  right: 0px;
  top: -55px;
  min-width: 70px;
}

.Imai1 .Imai1-1 .Imai1-1-2 .lunbox .labbox .lab {
  float: left;
  padding: 0 5px;
  font-size: 16px;
}

.Imai1 .Imai1-1 .Imai1-1-2 .lunbox .labbox .lab span {
  padding: 0 1px;
}

.Imai1 .Imai1-1 .Imai1-1-2 .lunbox .labbox .lab .sp1 {
  color: #fe7830;
}

.Imai1 .Imai1-1 .Imai1-1-2 .lunbox .labbox .prev {
  float: left;
  height: 15px;
  width: 11px;
  background-position: -107px 0;
  cursor: pointer;
  margin: 10px 2px 0;
}

.Imai1 .Imai1-1 .Imai1-1-2 .lunbox .labbox .prev:hover {
  background-position: -163px 0;
}

.Imai1 .Imai1-1 .Imai1-1-2 .lunbox .labbox .next {
  float: left;
  height: 15px;
  width: 11px;
  background-position: -136px 0;
  cursor: pointer;
  margin: 10px 2px 0;
}

.Imai1 .Imai1-1 .Imai1-1-2 .lunbox .labbox .next:hover {
  background-position: -192px 0;
}

.Imai1 .Imai1-2 {
  width: 430px;
  margin: 0 30px;
}

.Imai1 .Imai1-2 a:hover {
  text-decoration: underline;
}

.Imai1 .Imai1-2 .h2 {
  display: block;
  height: 36px;
  line-height: 36px;
  margin: 10px 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  color: #ff3b44;
  font-size: 16px;
}

.Imai1 .Imai1-2 .p {
  height: 22px;
  padding: 10px 0;
  overflow: hidden;
  line-height: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Imai1 .Imai1-2 .p .lab {
  display: block;
  float: left;
  height: 22px;
  width: auto;
  padding: 0 8px;
  border-radius: 3px;
  font-size: 12px;
  margin: 0 5px 0 0;
}

.Imai1 .Imai1-2 .p .lab:hover {
  text-decoration: none;
}

.Imai1 .Imai1-2 .p .lab1 {
  background: #ceedfa;
  color: #027db4;
}

.Imai1 .Imai1-2 .p .lab2 {
  background: #d5face;
  color: #3f8734;
}

.Imai1 .Imai1-2 .p .lab3 {
  background: #fae2ce;
  color: #d3751f;
}

.Imai1 .Imai1-2 .p .lab4 {
  background: #fad9ce;
  color: #a9361e;
}

.Imai1 .Imai1-2 .p .tex {
  float: left;
}

.Imai1 .Imai1-2 ul li {
  height: 36px;
  overflow: hidden;
  line-height: 36px;
}

.Imai1 .Imai1-2 ul li .time {
  float: right;
  color: #999999;
}

.Imai1 .Imai1-2 ul li a {
  float: left;
  display: block;
  max-width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Imai1 .Imai1-2 ul li a::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: -2px 8px 0 0;
  width: 3px;
  height: 3px;
  background: #000;
  border-radius: 50%;
}

.Imai1 .Imai1-2 ul li a:hover::before {
  background: #d3751f;
}

.Imai1 .Imai1-3 {
  width: 270px;
}

.Imai1 .Imai1-3 .btbox {
  height: 50px;
  line-height: 50px;
}

.Imai1 .Imai1-3 .btbox .bt {
  float: left;
  font-weight: bold;
  font-size: 16px;
}

.Imai1 .Imai1-3 .btbox .bt::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: -2px 10px 0 0;
  width: 4px;
  height: 16px;
  background: #fe7830;
}

.Imai1 .Imai1-3 .img {
  height: 140px;
  width: 100%;
  overflow: hidden;
  display: block;
  margin-bottom: 5px;
}

.Imai1 .Imai1-3 ul li {
  margin-bottom: 10px;
  border: 1px solid #cfcfcf;
  height: 33px;
  line-height: 33px;
  border-radius: 5px;
  overflow: hidden;
  padding: 0 10px;
}

.Imai1 .Imai1-3 ul li:hover {
  border-color: #d3751f;
}

.Imai1 .Imai1-3 ul li:hover a {
  color: #d3751f;
}

.Imai1 .Imai1-3 ul li a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Imai1 .Imai1-3 .lis {
  border-bottom: 1px dashed #e6e6e6;
  color: #666666;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.Imai1 .Imai1-3 .lis a:hover {
  text-decoration: underline;
}

.Imai1 .Imai1-3 .lis .name {
  height: 45px;
  line-height: 45px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}

.Imai1 .Imai1-3 .lis .tex {
  margin: 3px 0 14px 0;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  line-height: 35px;
  max-height: 70px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.Imai1 .Imai1-3 .lis .p {
  color: #666666;
  line-height: 22px;
  max-height: 44px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  font-size: 14px;
}

.Imai2 {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 0 10px 10px 10px;
}

.Imai2 .bttop {
  height: 96px;
  line-height: 96px;
}

.Imai2 .bttop .btlef {
  float: left;
  width: 870px;
}

.Imai2 .bttop .btlef .bt {
  float: right;
  font-size: 16px;
  font-weight: bold;
}

.Imai2 .bttop .btlef .layui-form {
  float: right;
  margin: 30px 0px 0 20px;
}

.Imai2 .bttop .btlef .layui-form .layui-input {
  border-radius: 5px;
  background: #f6f6f6;
}

.Imai2 .bttop .btlef .layui-form .layui-form-select dl dd.layui-this {
  background: #d3751f;
}

.Imai2 .bttop .laiyuan {
  float: right;
  color: #999999;
}

.Imai2 .warpitem {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 15px;
}

.Imai2 .warpitem .labbt {
  float: left;
  width: 150px;
  margin-right: 30px;
}

.Imai2 .warpitem .labbt li {
  height: 38px;
  line-height: 38px;
  border: 1px solid #dcdcdc;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  color: #000;
  text-align: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.Imai2 .warpitem .labbt li::before {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 2px;
  width: 100%;
  content: '';
  display: none;
  background: #d3751f;
}

.Imai2 .warpitem .labbt li:hover::before {
  display: block;
}

.Imai2 .warpitem .labbt .on::before {
  display: block;
}

.Imai2 .warpitem .scroll {
  float: left;
  width: 960px;
  position: relative;
  overflow: hidden;
}

.Imai2 .warpitem .scroll .line {
  position: absolute;
  width: 95%;
  height: 1px;
  background: #e5e5e5;
  top: 108px;
  left: 60px;
  margin-top: -1px;
}

.Imai2 .warpitem .scroll .lis {
  width: 960px;
  overflow-x: auto;
  height: 215px;
  overflow-y: hidden;
  position: relative;
  word-break: break-all;
  position: relative;
  white-space: nowrap;
}

.Imai2 .warpitem .scroll .lis::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #f5f5f5;
  border-radius: 10px;
}

.Imai2 .warpitem .scroll .lis::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.Imai2 .warpitem .scroll .lis::-webkit-scrollbar-corner {
  display: block;
}

.Imai2 .warpitem .scroll .lis::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: #c7c7c7;
  border-radius: 10px;
}

.Imai2 .warpitem .scroll .ul {
  display: inline-block;
  width: auto;
}

.Imai2 .warpitem .scroll .ul .bt {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #000;
}

.Imai2 .warpitem .scroll .ul .bt1 {
  background: #fff1ea;
}

.Imai2 .warpitem .scroll .ul .bt2 {
  background: #ffd9c5;
}

.Imai2 .warpitem .scroll .ul .bt3 {
  background: #ffbc98;
}

.Imai2 .warpitem .scroll .ul .bt4 {
  background: #fa9a67;
}

.Imai2 .warpitem .scroll .ul .bt5 {
  background: #f8742e;
}

.Imai2 .warpitem .scroll .ul .bt6 {
  background: #fa6617;
}

.Imai2 .warpitem .scroll .ul .bt7 {
  background: #fa5700;
}

.Imai2 .warpitem .scroll .ul ul {
  width: auto;
  word-break: break-all;
  height: 180px;
}

.Imai2 .warpitem .scroll .ul ul li {
  float: left;
  width: 120px;
  position: relative;
  text-align: center;
  margin-right: 30px;
  height: 180px;
}

.Imai2 .warpitem .scroll .ul ul li .time {
  height: 30px;
  line-height: 30px;
  padding: 45px 0 0 0;
  position: relative;
  overflow: hidden;
  color: #666;
}

.Imai2 .warpitem .scroll .ul ul li .time .nowday {
  position: absolute;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  top: 25px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #027db4;
  background: #ceedfa;
}

.Imai2 .warpitem .scroll .ul ul li .num {
  position: absolute;
  left: 50%;
  top: 43%;
  margin-top: -2px;
  margin-left: -3px;
  background: #979797;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.Imai2 .warpitem .scroll .ul ul li .tex {
  line-height: 22px;
  max-width: 90px;
  margin: 20px auto 0;
  max-height: 66px;
  overflow: hidden;
  display: block;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.Imai2 .warpitem .scroll .ul ul .on .tex {
  color: #d3751f;
}

.Imai2 .warpitem .scroll .ul ul .on .num {
  background: #d3751f;
}

.Imai3 .Imai3-1 {
  width: 910px;
}

.Imai3 .Imai3-1 .swichitem {
  width: 100%;
  overflow: hidden;
}

.Imai3 .Imai3-1 .swichitem .item {
  width: 110%;
}

.Imai3 .Imai3-1 .ulbox {
  float: left;
  width: 440px;
  margin-right: 25px;
}

.Imai3 .Imai3-1 .ulbox .title {
  border: none;
  height: 40px;
  line-height: 40px;
}

.Imai3 .Imai3-1 .ulbox .lis {
  width: 100%;
  height: 100px;
  padding: 20px 0 15px 0;
}

.Imai3 .Imai3-1 .ulbox .lis .img {
  width: 200px;
  height: 100px;
  display: block;
  border-radius: 3px;
  overflow: hidden;
  float: left;
}

.Imai3 .Imai3-1 .ulbox .lis .infor {
  float: left;
  width: 220px;
  overflow: hidden;
  height: 100%;
  padding-left: 20px;
}

.Imai3 .Imai3-1 .ulbox .lis .infor .name {
  text-align: justify;
  max-height: 72px;
  width: 100%;
  display: block;
  overflow: hidden;
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.Imai3 .Imai3-1 .ulbox .lis .infor .bq {
  height: 20px;
  line-height: 20px;
  color: #666;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
}

.Imai3 .Imai3-1 .ulbox .lis .infor .bq .time {
  float: left;
  max-width: 120px;
  overflow: hidden;
  display: block;
}

.Imai3 .Imai3-1 .ulbox .lis .infor .bq span {
  float: right;
  display: block;
  overflow: hidden;
  margin: 0 3px;
  white-space: nowrap;
}

.Imai3 .Imai3-1 .ulbox .lis .infor .bq span i {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 5px 0;
}

.Imai3 .Imai3-1 .ulbox .lis .infor .bq span .plico {
  height: 13px;
  width: 13px;
  background-position: -23px -43px;
}

.Imai3 .Imai3-1 .ulbox .lis .infor .bq span .shareico {
  height: 12px;
  width: 12px;
  background-position: 0 -43px;
}

.Imai3 .Imai3-1 .ulbox .lis .infor .bq .pllab {
  max-width: 57px;
}

.Imai3 .Imai3-1 .ulbox ul {
  padding-bottom: 10px;
}

.Imai3 .Imai3-1 .ulbox ul li {
  line-height: 36px;
  height: 36px;
  width: 100%;
  overflow: hidden;
}

.Imai3 .Imai3-1 .ulbox ul li a {
  float: left;
  max-width: 340px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  display: block;
}

.Imai3 .Imai3-1 .ulbox ul li a:hover::before {
  background: #fe7830;
}

.Imai3 .Imai3-1 .ulbox ul li a::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: -2px 8px 0 0;
  width: 3px;
  height: 3px;
  background: #000;
  border-radius: 50%;
}

.Imai3 .Imai3-1 .ulbox ul li .bq {
  float: right;
  color: #999999;
  max-width: 60px;
}

.Imai3 .Imai3-1 .ulbox ul .on a {
  color: #000;
  font-weight: bold;
}

.Imai3 .Imai3-1 .ulbox ul .on a:hover {
  color: #fe7830;
}

.Imai3 .Imai3-1 .ulbox ul .on a:hover::before {
  background: #000;
}

.Imai3 .Imai3-1 .ulbox .ul1 a {
  max-width: 400px;
}

.Imai3 .Imai3-1 .ulbox .ul2 .bq {
  max-width: 85px;
}

.Imai3 .Imai3-2 {
  width: 260px;
}

.Imai3 .Imai3-2 .title {
  border-bottom: none;
}

.Imai3 .Imai3-2 ul {
  margin-bottom: -20px;
}

.Imai3 .Imai3-2 ul li {
  margin-bottom: 20px;
  height: 130px;
  display: block;
  position: relative;
}

.Imai3 .Imai3-2 ul li .img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.Imai3 .Imai3-2 .ul li {
  width: 180px;
  margin: 0 auto 20px;
  height: auto;
}

.Imai3 .Imai3-2 .ul li .img {
  height: 250px;
}

.Imai3 .Imai3-2 .ul li .p {
  position: absolute;
  width: 100%;
  color: #fff;
  left: 0px;
  text-align: center;
  overflow: hidden;
  height: 30px;
  line-height: 30px;
}

.Imai3 .Imai3-2 .ul li .p1 {
  font-size: 22px;
  top: 24px;
}

.Imai3 .Imai3-2 .ul li .p2 {
  font-size: 22px;
  top: 59px;
}

.Imai3 .Imai3-2 .ul li .p3 {
  font-size: 18px;
  top: 134px;
}

.Imai3 .Imai3-2 .ul li .p4 {
  font-size: 16px;
  top: 177px;
}

.Imai3 .Imai3-2 .ul li p {
  height: 30px;
  line-height: 30px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f0ad55f,endColorstr=#7f0ad55f);
  zoom: 1;
  background: rgba(5, 133, 59, 0.8);
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.Imai3 .Imai3-2 .ul li .name {
  line-height: 35px;
  width: 100%;
  text-align: center;
  height: 35px;
  overflow: hidden;
  color: #fe7830;
  font-size: 16px;
  width: 100%;
  display: block;
}

.Imai4 .Imai4-1 {
  width: 260px;
  margin-right: 30px;
}

.Imai4 .Imai4-1 ul {
  width: 100%;
  margin-top: -10px;
}

.Imai4 .Imai4-1 ul li {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  padding: 10px;
  height: 58px;
  margin-top: 18px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Imai4 .Imai4-1 ul li .img {
  height: 40px;
  width: 40px;
  float: left;
  display: block;
  margin: 0px 10px 0 5px;
}

.Imai4 .Imai4-1 ul li .infor {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 10px 0 0;
}

.Imai4 .Imai4-1 ul li .name {
  padding-top: 5px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Imai4 .Imai4-1 ul li .bq {
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin-top: 3px;
  color: #666;
  overflow: hidden;
}

.Imai4 .Imai4-2 {
  width: 390px;
  margin-right: 30px;
}

.Imai4 .Imai4-2 ul li {
  line-height: 36px;
  height: 36px;
  width: 100%;
  overflow: hidden;
}

.Imai4 .Imai4-2 ul li .tex {
  float: left;
  max-width: 320px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  display: block;
}

.Imai4 .Imai4-2 ul li .tex:hover::before {
  background: #fe7830;
}

.Imai4 .Imai4-2 ul li .tex::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: -2px 8px 0 0;
  width: 3px;
  height: 3px;
  background: #000;
  border-radius: 50%;
}

.Imai4 .Imai4-2 ul li .bq {
  float: right;
  color: #999999;
  max-width: 80px;
}

.Imai4 .Imai4-3 {
  width: 200px;
  margin-right: 30px;
}

.Imai4 .Imai4-3 ul li {
  width: 100%;
  padding-bottom: 10px;
}

.Imai4 .Imai4-3 ul li .img {
  height: 110px;
  width: 100%;
  display: block;
  border-radius: 3px;
}

.Imai4 .Imai4-3 ul li .name {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding-top: 10px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
}

.Imai4 .Imai4-4 {
  width: 260px;
}

.Imai4 .Imai4-4 ul li {
  height: 30px;
  padding: 3px 0;
  width: 100%;
  overflow: hidden;
  line-height: 30px;
}

.Imai4 .Imai4-4 ul li .num {
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  color: #fff;
  line-height: 20px;
  margin: -2px 10px 0 0;
  background: #fa4e57;
}

.Imai4 .Imai4-4 ul li a {
  height: 100%;
  max-width: 220px;
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Imai4 .Imai4-4 ul li + li .num {
  background: #fa7a53;
}

.Imai4 .Imai4-4 ul li + li + li .num {
  background: #fbc258;
}

.Imai4 .Imai4-4 ul li + li + li + li .num {
  background: #879299;
}

.Imai5 .title {
  border: none;
}

.Imai5 .title .lab_ {
  float: right;
  height: 36px;
  width: auto;
  max-width: 900px;
  line-height: 36px;
  margin: 12px 0 0 0;
}

.Imai5 .title .lab_ a {
  float: left;
  border: 1px solid #cfcfcf;
  margin: 0 0 0 -1px;
  padding: 0 15px;
  font-size: 16px;
  cursor: pointer;
}

.Imai5 .title .lab_ a:first-child {
  border-radius: 5px 0 0  5px;
}

.Imai5 .title .lab_ a:last-child {
  border-radius: 0 5px  5px  0;
}

.Imai5 .title .lab_ .on {
  background: #fe7830;
  border-color: #fe7830;
  color: #fff;
}

.Imai5 .ul {
  width: 100%;
  overflow: hidden;
}

.Imai5 .ul ul {
  width: 110%;
  margin-top: -10px;
}

.Imai5 .ul ul li {
  float: left;
  width: 243px;
  padding: 0 20px;
  border: 1px solid #cfcfcf;
  height: 198px;
  border-radius: 5px;
  margin: 20px 20px 0 0;
}

.Imai5 .ul ul li:hover {
  border-color: #fe7830;
}

.Imai5 .ul ul li .name {
  padding-top: 6px;
  height: 44px;
  line-height: 44px;
  font-weight: bold;
  overflow: hidden;
  font-size: 16px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Imai5 .ul ul li .tex {
  height: 96px;
  line-height: 24px;
  overflow: hidden;
  color: #999;
  width: 100%;
}

.Imai5 .ul ul li .bq {
  padding-top: 10px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  width: 100%;
}

.Imai5 .ul ul li .bq .a {
  margin-right: 5px;
}

.Imai5 .ul ul li .bq a:hover {
  color: #fe7830;
  text-decoration: underline;
}

.Imai6 {
  width: 100%;
  overflow: hidden;
}

.Imai6 .warp_ {
  width: 110%;
}

.Imai6 .item {
  float: left;
  width: 358px;
  padding: 0 10px 20px 10px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  margin-right: 30px;
}

.Imai6 .item .bt {
  text-align: center;
  height: 60px;
  padding-top: 10px;
  line-height: 60px;
  overflow: hidden;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

.Imai6 .item .bt .time {
  font-size: 13px;
  font-weight: normal;
  padding: 0 5px;
}

.Imai6 .item ul {
  padding: 0 30px 0 60px;
}

.Imai6 .item ul li {
  width: 100%;
  overflow: hidden;
  min-height: 36px;
  line-height: 36px;
}

.Imai6 .item ul li .num {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-weight: bold;
  background: #fa4e57;
  float: left;
  margin: 8px 6px 0 0;
}

.Imai6 .item ul li .infor {
  float: left;
  max-width: 240px;
}

.Imai6 .item ul li .infor .name {
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  width: 100%;
  font-size: 16px;
  display: block;
}

.Imai6 .item ul li .infor .box_b {
  width: 100%;
  padding: 10px 0 5px;
  display: none;
}

.Imai6 .item ul li .infor .box_b .img {
  height: 40px;
  width: 40px;
  display: block;
  float: left;
  margin: 0 15px 0 0;
}

.Imai6 .item ul li .infor .box_b .bq {
  float: left;
  width: 150px;
}

.Imai6 .item ul li .infor .box_b .bq .lab {
  float: left;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  padding: 0 3px;
  height: 20px;
  line-height: 20px;
  color: #666;
  font-size: 12px;
  margin-right: 5px;
}

.Imai6 .item ul li .infor .box_b .dw {
  padding-top: 6px;
  width: 150px;
  float: left;
  height: 24px;
  line-height: 24px;
  color: #fe7830;
}

.Imai6 .item ul li .infor .box_b .dw .icodw {
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 13px;
  background-position: -81px 0;
  margin: -2px 6px 0 0;
}

.Imai6 .item ul li + li .num {
  background: #fa7a53;
}

.Imai6 .item ul li + li + li .num {
  background: #fbc258;
}

.Imai6 .item ul li + li + li + li .num {
  background: #879299;
}

.Imai6 .item ul .on .infor .box_b {
  display: block;
}

.fellnav {
  width: 100px;
  border: 1px solid #edeeee;
  position: fixed;
  right: 0px;
  top: 50%;
  display: none;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.fellnav li {
  width: 100%;
  height: 39px;
  border-bottom: 1px solid #edeeee;
  line-height: 39px;
  color: #666666;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.fellnav .on {
  background: #ffcdb2;
}

.fellnav .top {
  height: 22px;
  line-height: 22px;
  padding: 8px 0;
  cursor: pointer;
}

.fellnav .top .ico2 {
  height: 22px;
  width: 22px;
  background-position: -175px -32px;
  display: block;
  margin: 0 auto;
}
/*# sourceMappingURL=index.css.map */